<h2>InvenioRDM Dashboard</h2>

<p><strong>Role:</strong> {{role}}</p>

<div class="dashboard-box">

    {{#is_student}}
    <div class="card">
        <h3>Student Area</h3>
        <ul>
            <li>
                <a href="{{wwwroot}}/local/inveniordm/student/search.php">
                    Search Resources
                </a>
            </li>

            <li>
                <a href="{{wwwroot}}/local/inveniordm/student/favorites.php">
                    Favorites
                </a>
            </li>
        </ul>
    </div>
    {{/is_student}}

    {{#is_lecturer}}
    <div class="card">
        <h3>Lecturer Area</h3>
        <ul>
            <li>
                <a href="{{wwwroot}}/local/inveniordm/lecturer/upload.php">
                    Upload Resource
                </a>
            </li>

            <li>
                <a href="{{wwwroot}}/local/inveniordm/lecturer/myresources.php">
                    My Resources
                </a>
            </li>

            <li>
                <a href="{{wwwroot}}/local/inveniordm/lecturer/course_resources.php">
                    Course Resources
                </a>
            </li>

            <li>
                <a href="{{wwwroot}}/local/inveniordm/student/search.php">
                    Search Repository
                </a>
            </li>
        </ul>
    </div>
    {{/is_lecturer}}

    {{#is_admin}}
    <div class="card">
        <h3>Admin Area</h3>
        <a href="{{wwwroot}}/local/inveniordm/admin/dashboard.php">
            System Management
        </a>
        <hr>

        <a href="{{wwwroot}}/local/inveniordm/student/search.php">
            Open Student Search
        </a>
    </div>

    {{/is_admin}}

</div>